<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver
            android:name=".TestNotificationReceiver"
            android:exported="false" />
    </application>
</manifest>
